.btn-primary{
    background-color: #2E2A2A;
    font-weight: bold;
    border: 0;
    font-size: 19px;
}

.btn-primary:hover{

    background-color: #494747;
    font-weight: bold;

}

body{
    background-color: #EFE7E7;
    font-family: 'Poppins', sans-serif;

}

.main-message{
    padding: 1em  0.5em;
    background-color: #A1A1A1;
}



h1{
    font-weight:600;
}

.section{

    height: 100vh;
    background-color: #D9D9D9;
}

.nav-head-text{
    font-weight: bold;
}
